@import "../../app.scss";
.contact{
    height:100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap:50px;
    @include mobile{
        width:100%;
        padding: 10px;
        gap: 0px;
        flex-direction: column;
    }

    .textContainer{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @include mobile{
            
           text-align: center;
           align-items: center;
           gap: 0px;
           margin-top: 100px;
        }

        h1{
            font-size: 100px;
            @include mobile{
               font-size: 30px;
               white-space: nowrap; 
                 text-align: center; 
            }
            
        }
        span{
            font-weight: 300;
        }
    }
    .formContainer{
        flex:1;
        position:relative;
       
        @include mobile{
            padding:50px;
            width: 100%;
            margin-bottom: 150px;
        }
        
        .phoneSvg{
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1; /* Ensures SVG is behind the form */
            pointer-events: none; /* Prevents SVG from capturing mouse events */
            @include mobile{
                opacity: 0.5; /* Make it more visible */
                transform: scale(0.6) translate(-10%, -10%); /* Scale and center */
                top: 0%; /* Moved higher up */
                left: 0%;
                margin-bottom: 1000px;
                margin-top: 2px;
            }
        }

        form{
        display:flex;
        flex-direction: column;
        gap:20px;

            input,textarea{
            padding:20px;
            background-color: transparent;
            border:1px solid white;
            color:white;
            border-radius: 5px;
            @include mobile{
                padding:10px;
            }

            
            }
            button{
                padding:20px;
                border:none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;

                @include mobile{
                    padding:10px;
                }
            }
        }
    }
}